body{
    background-color: rgb(0, 0, 0);
    color: rgb(240, 248, 255);
}
h1{
    border-style: double;
    border-color: rgb(255, 0, 0);
    text-shadow: 5px 3px 5px red;
    position: sticky;

}
body{
    background-image: url(Images/smiths\ cover.webp);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;

}
i{
       color: red;
}
